*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

    background:
    radial-gradient(circle at center, rgba(255,255,255,0.35), transparent 40%),
    linear-gradient(90deg, #4574a1, #8fb1cf, #4574a1);

    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
}

.auth-container{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 58px;
}

.register-card{
    width: 440px;

    background: #d9dbe3;

    border-radius: 25px;

    padding: 40px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.register-title{
    text-align: center;

    font-size: 24px;
    font-weight: bold;

    margin-bottom: 30px;

    color: #162554;
}


.register-card form{
    width: 100%;
}

.mb-4{
    width: 100%;
    margin-bottom: 20px;
}

.form-label{
    display: block;

    font-weight: 600;

    margin-bottom: 8px;

    color: #111827;
}

.form-control,
.form-select{
    width: 100%;

    height: 52px;

    border-radius: 8px;

    border: none;

    padding: 0 14px;

    background: white;

    font-size: 15px;
}

.form-control:focus,
.form-select:focus{
    outline: none;

    box-shadow: none;

    border: 2px solid #243ea3;
}

.password-wrapper{
    position: relative;
}

.password-wrapper i{
    position: absolute;

    right: 15px;
    top: 50%;

    transform: translateY(-50%);

    cursor: pointer;
}

.btn-register{
    width: 100%;
    height: 52px;

    background: black;
    color: white;

    border: none;

    font-size: 15px;
    font-weight: bold;

    transition: 0.3s;
}

.btn-register:hover{
    background: #111827;
}

.login-link{
    margin-top: 18px;

    text-align: center;

    font-size: 15px;
}

.login-link a{
    color: black;

    font-weight: bold;

    text-decoration: underline;
}

.error-box{
    background: #7f1d1d;

    color: white;

    padding: 10px;

    border-radius: 8px;

    margin-bottom: 20px;

    text-align: center;
}